


/*-------------Calories---------------*/



.calories_h1 { font-size:10px; text-transform:uppercase; color:#6b8e23; height:31px; background:url(img/bg_top_h1.png)/ no-repeat left top; padding:8px 0 0 15px; margin:0 0 1px 0}

.calories_h2 {color:#ffffe0; margin-bottom:15px}

.calories_img { float:right; border:3px solid #dec19a; margin-left:8px}

.calories_img img{ display:block}

.calories_txt { background:#ffffe0 url(../img/bg_text_cal.gif)no-repeat left top; padding:20px 15px 0px 15px; color:6b8e23}

.calories_txt_end { background:url(../img/bottom_txt_bg.gif) repeat-x left top; height:28px; overflow:hidden; margin:0 -15px}



.sep1{ height:1px; overflow:hidden; clear:both}

.sep5{ height:5px; overflow:hidden; clear:both}

.sep10{ height:10px; overflow:hidden; clear:both}

.sep15{ height:15px; overflow:hidden; clear:both}



.calories_link1 { background:url(img/link_1.gif) no-repeat left 50%}

.calories_link2 { background:url(img/link_2.gif) no-repeat left 50%}

.calories_link3 { background:url(img/link_3.gif) no-repeat left 50%}



.calories_link1, .calories_link2, .calories_link3 { display: inline-block; margin:5px 0; padding: 2px 0 2px 20px; width:auto}



.calories_link1:hover, .calories_link2:hover, .calories_link3:hover { text-decoration:none}



.calories_head { background-color:#ffffe0}

.calories_head td{color:#6b8e23; padding:5px 0}

.calories_head td.red{ font-weight:bold; color:#FFA500}



.calories_h2_table { color:#FFA500; background: url(../img/icon_plus.gif) no-repeat left 50%; padding-left:20px; cursor:pointer; float:left; margin:5px 0 5px 1px}

.calories_h2_table1 { color:#FFA500; background: url(../img/icon_minus.gif) no-repeat left 50% !important; padding-left:20px; cursor:pointer; float:left; margin:5px 0 5px 1px}



.calories_table_in {margin-left:23px; width:557px}

.calories_table_in input { width:45px; font-size:11px !important; color:#666; height:16px; padding-top:1px}

.calories_table_in span { background:#fff; border:1px solid #e1caae; width:45px; display:block; height:16px; padding:1px 0 0 3px; overflow:hidden  }

.calories_table_in div { background:#ffffe0; font-weight:bold; color:#FFA500; width:45px; display:block; height:16px; padding:1px 0 0 3px; overflow:hidden}

.calories_table_in td { padding-bottom:8px}



.calories_total { float:right; background:#ffffe0; font-weight:bold; color:#FFA500; width:45px; display:block !important; height:16px; padding:1px 0 0 3px; margin:6px 13px 0 0; overflow: hidden}

.calories_total_none { float:right; background:#ffffe0; font-weight:bold; color:#FFA500; width:45px; display:none; height:16px; padding:1px 0 0 3px; margin:6px 13px 0 0; overflow: hidden}



.total_table td{ border-top:1px solid #FFA500; font-weight:bold; padding:3px 0 0 0}



.blood{ background-color:#FFA500}

.blood td{color:#fff; padding:5px 0}

.blood td.red{ font-weight:bold; color:#FFA500}



.big_total td { padding:5px 0 0 7px; font-weight:bold}

.big_total td h2 { color:#FFA500; margin:5px 0 5px 15px}



.blood_total { background:#6b8e23; font-weight:bold; color:#fff; width:45px; display:block; height:18px; padding:4px 0 0 3px; overflow:hidden}



.left_links { width:300px; border:1px solid red}

.right_buttons { width:200px; float:right; border:1px solid red}



.ccal_submit { background:url(../img/button_left.gif) no-repeat left top; height:20px}

.ccal_submit span{ background:url(../img/button_right.gif) no-repeat right top; height:20px; text-align:center; padding: 3px 0 0 0; display: block}

.ccal_submit span a{text-transform:uppercase; font-size:10px; color:#fff; text-decoration:none}

.ccal_submit span a:hover{text-transform:uppercase; font-size:10px; color:#fff; text-decoration: underline; display:block; height:20px}



.calories_tr td { border-bottom:1px solid ##ffffe0; padding:3px 0 3px 4px}

.calories_tr.last td { border-bottom:0; padding:3px 0 3px 4px}



.cal_print { width:600px}

.cal_head { padding:30px 0 0 10px}

.cal_head img{ margin: 0 20px 0 0}



.cal_grey { background:#6b8e23; height:3px; width:600px; margin:5px 0 20px 0}



.cal_print_in { padding:12px; width:576px}

.cal_print_in h2.red{ color:#ffffe0; margin:8px 0 5px 1px}



.cal_grey1 {border-top:1px solid #6b8e23; width:600px; margin:5px 0 5px 0; padding:10px 0 0 15px; color:#000}



/*-------------Calories---------------*/

.new_login_last td{ padding-top: 10px;}



 